doctype html
head
  meta(charset='utf-8')
  title #{material.title + '|' + user.user_name}
  base(href='/')
  link(rel='shortcut icon', type='image/x-icon', href='./assets/icons/favicon.ico')
  meta(property='og:title', content=`${material.title||''}`)
  meta(property='og:description', content=`${material.meta||''}`)
  meta(property='og:image:width', content='600')
  meta(property='og:image:height', content='300')
  meta(property='og:image', content=`${material.site_image || material.thumbnail || material.preview||''}`)
  meta(name='viewport', content='width=device-width, initial-scale=1')
  link(rel='stylesheet', href='./theme/css/bootstrap.min.css')
  //- Font Import
  link(href='https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;600;700;800&display=swap', rel='stylesheet')
  //- Plugin Style Import
  link(href='./theme/plugins/plyr/plyr.css', rel='stylesheet')
  link(rel='stylesheet', type='text/css', href='./theme/plugins/simple-lightbox/simple-lightbox.min.css')
  link(rel='stylesheet', type='text/css', href='./theme/plugins/pdf/flipbook.style.css')
  link(rel='stylesheet', type='text/css', href='./theme/plugins/pdf/font-awesome.css')
  //- Theme Main Style Import
  link(rel='stylesheet', href='./theme/css/theme3.css')
  //- Widget Styles Import
  link(rel='stylesheet', href='./theme/css/widget.css')
  //-PDF Scroll viewer 
  link(rel='stylesheet', href='./theme/plugins/pdf/pdfscroll.css')
  link(rel='resource' type='application/l10n')
  link(rel='stylesheet', type='text/css', href='./assets/css/embed_video.css')
  //- Basic JS lib import
  script(src='./theme/js/jquery.min.js')
  script(src='./theme/js/popper.min.js')
  script(src='./theme/js/bootstrap.min.js')
  script(src='https://kit.fontawesome.com/a076d05399.js')
  script(type='text/javascript', src='/socket.io/socket.io.js')
  script(type='text/javascript', src='./theme/plugins/galleria/galleria.min.js')
  script(type='text/javascript').
    var config = !{JSON.stringify(material)};
section.material-section
  .container.cs-container
    .row.material-profile-wrapper
      .material-wrapper.mx-2.view-container
        if material_type === 'video'
          .video-player-wrapper
            if material.type === 'youtube'
              div#player(data-plyr-provider=`${material.type}` data-plyr-embed-id=`${material.url}`)
            else if material.type === 'vimeo'
              if material.url.startsWith('https://vimeo.com')
                div#player(data-plyr-provider=`${material.type}` data-plyr-embed-id=`${material.url}`)
              else
                div#player(data-plyr-provider=`${material.type}`)
                  iframe(src=`${material.url}`)
            else 
              if !material.is_private
                video#player(poster=`${material.thumbnail}`, controls, name="media")
                  source(src=`${material.url}`, type=`video/mp4`)
              else
                if !material.is_stream
                  video#player(poster=`${material.thumbnail}`, controls, name="media")
                    source(src=`${material.converted_url}`, type=`video/mp4`)
                else
                  video#player(poster=`${material.thumbnail}`, controls, name="media")
            .watched-time
              | 00:00
  .profile-wrapper.showing#profile
    .avatar-social
      img.avatar(src=`${ user.picture_profile || 'theme/images/avatar.jpeg'}`)
      .name-socials
        .name #{user.user_name}
input#duration(type='hidden', value=`${material.duration/1000}`)
input#activity(type='hidden', value=``)
input#contact(type='hidden', value=``)
input#user(type='hidden', value=`${user._id}`)
input#material(type='hidden', value=`${material._id}`)
input#material-start(type='hidden', value=``)

script(type='text/javascript', src='https://cdn.jsdelivr.net/npm/hls.js@latest')
script(src='theme/plugins/plyr/plyr.min.js')
script(type='text/javascript', src='./assets/js/embed_video.js')