doctype html
head
  meta(charset='utf-8')
  title #{user.user_name}
  base(href='/')
  meta(name='viewport', content='width=device-width, initial-scale=1, minimun-scale=1.0, maximum-scale=1.0')  
  link(rel='shortcut icon', type='image/x-icon', href='./assets/icons/favicon.ico')
  meta(property='og:title', content=`${material.title||''}`)
  meta(property='og:description', content=`${material.meta||''}`)
  meta(property='og:image:width', content='600')
  meta(property='og:image:height', content='300')
  meta(property='og:image', content=`${material.site_image || material.thumbnail || material.preview||''}`)
  meta(name='viewport', content='width=device-width, initial-scale=1')
  link(rel='stylesheet', href='./theme/css/bootstrap.min.css')
  //- Font Import
  link(href='https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;600;700;800&display=swap', rel='stylesheet')
  //- Plugin Style Import
  link(href='./theme/plugins/plyr/plyr.css', rel='stylesheet')
  link(rel='stylesheet', type='text/css', href='./theme/plugins/simple-lightbox/simple-lightbox.min.css')
  link(rel='stylesheet', type='text/css', href='./theme/plugins/pdf/flipbook.style.css')
  link(rel='stylesheet', type='text/css', href='./theme/plugins/pdf/font-awesome.css')
  //- Theme Main Style Import
  link(rel='stylesheet', href='./theme/css/theme3.css')
  link(rel='stylesheet', href='./theme/css/custom_theme.css')
  link(rel='stylesheet', href='./customTool/material_widget.css')
  //- Widget Styles Import
  link(rel='stylesheet', href='./theme/css/widget.css')
  //- Basic JS lib import
  script(src='./theme/js/jquery.min.js')
  script(src='./theme/js/popper.min.js')
  script(src='./theme/js/bootstrap.min.js')
  script(src='https://kit.fontawesome.com/a076d05399.js')
  script(type='text/javascript', src='/socket.io/socket.io.js')
  script(type='text/javascript', src='./theme/plugins/galleria/galleria.min.js')
body!= html_content

#leadModal.lead-modal.modal.fade(role="dialog")
  .modal-dialog
    .modal-content.p-4.info-step
      if setting.intro_video
        div.quick-video-wrapper
          video.intro_video(autoplay=true, loop=true, preload="metadata", playsinline=true, muted)
            source(src=setting.intro_video, type="video/mp4")
          button.volume-control
            img(src='./theme/icons/unmute.png')
      .modal-body
        form#info-form
          each field in capture_field
            if field['name'] == 'First Name'
              .form-group.custom-form
                label.form-label #{field.name}
                input.form-control(type="text", name="first_name", placeholder="John", required=field['required'] ? true : false )
            else if field['name'] == 'Last Name'
              .form-group.custom-form
                label.form-label #{field.name}
                input.form-control(type="text", name="last_name", placeholder="Smith", required=field['required'] ? true : false )
            else if field['name'] == 'Email'
              .form-group.custom-form
                label.form-label #{field.name}
                input.form-control(type="email", name="email", placeholder="Johnsmith@gmail.com", required=field['required'] ? true : false)
            else if field['name'] == 'Phone'
              .form-group.custom-form
                label.form-label #{field.name}
                input.form-control.phone-info(type="tel", name="cell_phone", placeholder="***-***-****", required=field['required'] ? true : false)
            else
              .form-group.custom-form
                label.form-label #{field.name}
                if field['type'] == 'text'
                  input.form-control(type="text", name=field['match_field'] ? field['match_field'] : field.name, placeholder=field['placeholder'], required=field['required'] ? true : false)
                if field['type'] == 'email'
                  input.form-control(type="email", name=field['match_field'] ? field['match_field'] : field.name, placeholder=field['placeholder'], required=field['required'] ? true : false)
                if field['type'] == 'phone'
                  input.form-control.phone-info(type="tel", name=field['match_field'] ? field['match_field'] : field.name, placeholder=field['placeholder'], required=field['required'] ? true : false)
                if field['type'] == 'date'
                  input.form-control.date-info(type="date", name=field['match_field'] ? field['match_field'] : field.name, placeholder=field['placeholder'], required=field['required'] ? true : false)
                if field['type'] == 'dropdown'
                  select.form-control(name=field['match_field'] ? field['match_field'] : field.name, required=field['required'] ? true : false)
                    option(value="")
                      | None
                    if field.options
                      for optionItem in field.options
                        option(value=optionItem.value)
                          | #{optionItem.label}
          input(type="hidden", name="user", value=`${user._id}`)
          input(type="hidden", name=material_type, value=`${material._id}`)
          p.privacy-link.mb-2
            | Please read our 
            a(href='https://crmgrow.com/privacy.html') Privacy Policy
            |  before submitting.
          button.btn.btn-lg.btn-primary.submit-btn(type="submit") Submit
    .modal-content.p-4.thank-content.text-center
      .modal-header.border-bottom-0.pb-0
        h3.modal-title.border-bottom-0.py-0 Thank you! Your info has been processed.
      .modal-body
        p Please check the button to view the site and find out how eXp can help you grow!
      .modal-footer.border-top-0.pt-0
        button.btn.btn-lg.d-block.text-white.w-100#thank-btn View Site
if material_type === 'video'
  input#duration(type='hidden', value=`${material.duration/1000}`)
if material_type === 'image'
  input#total(type='hidden', value=`${material.url.length}`)
input#activity(type='hidden', value=`${activity}`)
input#contact(type='hidden', value=`${contact}`)
input#user(type='hidden', value=`${user._id}`)
input#material(type='hidden', value=`${material._id}`)
input#capture-dialog(type='hidden', value=`${capture_dialog}`)
input#capture-delay(type='hidden', value=`${capture_delay}`)
input#material-type(type='hidden' value=`${material_type}`)
input#material-detail(type='hidden' value=`${JSON.stringify(material)}`)
input#user-detail(type='hidden' value=`${JSON.stringify(user)}`)
input#social-links(type='hidden' value=`${JSON.stringify(social_link)}`)
script(type='text/javascript', src='./theme/core/widget_v2.js')
script(type='text/javascript', src='./customTool/material_widget.js')
if material_type === 'video'
  script(src='theme/plugins/plyr/plyr.min.js')
  script(type='text/javascript', src='./theme/core/lead_video_v2.js')
if material_type === 'image'
  //- Image Track JS
  script(type='text/javascript', src='./theme/core/lead_image_v2.js')
  //- Image Materials Plugin
  script(type='text/javascript', src='./theme/plugins/simple-lightbox/simple-lightbox.js')
  script.
    var lightbox = new SimpleLightbox('#gallery-container a', {
    /* options */
    });
//- PDF Track JS
if material_type === 'pdf'
  script(type='text/javascript', src='./theme/plugins/pdf/flipbook.js')
  script(type='text/javascript', src='./theme/core/lead_pdf_v2.js')